В ходе выполнения работы были достигнуты следующие результаты:
• Проведен анализ влияния лексикографического порядка переменных на вычислительную сложность нахождения базиса Грёбнера на примере тестовых систем таких, как: geneig, comb3000 и других.
• Разработан программный комплекс на языке Python, позволяющий автоматически
генерировать различные порядки переменных, проводить многократные прогоны и
собирать метрики производительности (время выполнения, пиковое потребление памяти, количество проверенных и отброшенных критических пар).
• Экспериментально подтверждено, что выбор порядка может изменять время вычислений примерно в 10 раз (от 1 до 10 секунд).